
aside > h1{
  margin-bottom: 10vw;
}

aside > label{
  width: 45%;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

aside > label > svg{
  fill: var(--third-color);
  height: 90%;
}

aside > label > input{
  width: 70%;
  border-radius: 0;
  border-bottom: 1px #000 solid;
}

aside > ul{
  margin: 5vw;
  margin-bottom: 0;
  padding-bottom: 5vw;
  width: 70%;
  list-style: none;
}

aside > ul > li{
  display: flex;
  align-items: center;
  padding: 5%;
  justify-content: space-between;
}

aside > ul > li > input{
  background-color: #0000;
  color: var(--second-color);
  border-bottom: var(--second-color) 1px solid;
  width: 70%;
}

aside > ul > li > svg{
  fill: var(--second-color);
}