*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
  user-select: none;
}

nav > ul > li{
  cursor: pointer;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

svg, path{
  fill: #fff;
  cursor: pointer;
}

*:disabled, .disabled{
  fill: #f00;
  background-color: #f00;
  color: #000;
  pointer-events: none;
}

h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: max(30px, 8vw);
  font: 900;
  margin-bottom: 20vw;
}