*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
  user-select: none;
}

nav > ul > li{
  cursor: pointer;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

aside > ul, aside > label{
  display: flex;
  justify-content: center;
  width: 100vw;
}

svg, path{
  fill: #fff;
  cursor: pointer;
}

*:disabled, .disabled{
  fill: #f00;
  background-color: #f00;
  color: #000;
  pointer-events: none;
}

nav{
  width: 30vw;
  height: 100vh;
  position: absolute;
  flex-direction: column;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #cf8700;
  margin-bottom: 50px;
}

nav > ul{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

nav > ul > li{
  margin: 5%;
}

nav > span > input{
  z-index: -1;
  position: absolute;
  right: 0;
  transition: transform .2s ease-in-out;
}

nav > span{
  display: flex;
  width: 20%;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 5%;
}

h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: max(30px, 8vw);
  font: 900;
  margin-bottom: 20vw;
}