*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
  user-select: none;
}

nav > ul > li{
  cursor: pointer;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

svg, path{
  fill: #fff;
}

input:disabled {
  background-color: #ff0000;
  color: #000;
}

h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: max(30px, 8vw);
  font: 900;
  margin-bottom: 20vw;
}

h1 > span{
  color: #fa0;
  animation: pisk 1s infinite;
}

body > span{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: max(15px, 4vw);
  cursor: pointer;
  padding: max(5px, 2.5vw);
  background-color: #f00;
  width: 30%;
  border-radius: 15px;
  box-shadow: 3px 3px #500;
}

body > span:hover{
  box-shadow: 3px 3px #800;
}

body > span:active{
  transform: translate(3px, 3px);
  box-shadow: 0px 0px #700;
}

@keyframes pisk{
  0%{
    opacity: 100%;
  }

  50%{
    opacity: 0%;
  }

  100%{
    opacity: 100%;
  }
}