
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
  user-select: none;
  border: none;
  font-family: 'Roboto', sans-serif;
}

*:disabled,
.disabled{
  pointer-events: none;
}

*:focus{
  outline: #f00;
}

:root {
  --main-bg-color: #fff;
  --second-bg-color: #000;

  --main-color: #fff;
  --second-color: #000;
  --third-color: #0f0;

  --width-verticalBar: 30vw;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

svg{
  cursor: pointer;
}

input{
  padding: 2%;
  padding-inline: 4%;
}