
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
  user-select: none;
  border: none;
}

*:disabled,
.disabled{
  pointer-events: none;
}

*:focus{
  outline: #f00;
}

:root {
  --main-bg-color: #fff;
  --second-bg-color: #000;

  --main-color: #fff;
  --second-color: #000;
  --third-color: #0f0;

  --transform-verticalBar: 0;
  --width-verticalBar: 30vw;
  --width-barTitle: 4.2vh;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  overflow: hidden;
}

aside, 
body > div{
  position: absolute;
  left: var(--width-verticalBar);
  z-index: 1;
  right: 0;
  display: flex;
  color: var(--second-color);
  background-color: var(--main-bg-color);
  flex-direction: column;
  align-items: center;
  width: calc(100vw - var(--width-verticalBar));
  height: calc(100vh - var(--width-barTitle));
}

nav::-webkit-scrollbar,
aside > ul::-webkit-scrollbar{
  opacity: 0;
}

h1{
  margin-top: 5vw;
  font-size: 2rem;
}

svg{
  cursor: pointer;
}

input{
  padding: 2%;
  padding-inline: 4%;
}

