*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
  user-select: none;
  border: none;
}

*:disabled, .disabled{
  fill: #f00;
  background-color: #f00;
  color: #000;
  pointer-events: none;
}

*:focus{
  outline: #f00;
}

:root {
  --main-bg-color: #fff;
  --second-bg-color: #cf8700;

  --main-color: #000;

  --width-verticalBar: 30vw;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

aside > ul, aside > label{
  display: flex;
  justify-content: center;
  width: 100vw;
}

svg, path{
  fill: #fff;
  cursor: pointer;
}

nav > ul > li > input{
  width: 70%;
}

h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: max(30px, 8vw);
  font: 900;
  margin-bottom: 20vw;
}