
nav{
  width: var(--width-verticalBar);
  height: 100vh;
  position: absolute;
  flex-direction: column;
  left: 0;
  display: flex;
  align-items: center;
  background-color: var(--second-bg-color);
  padding-block: 20px;
  overflow-y: none;
  overflow-x: auto;
}

nav::-webkit-scrollbar{
  opacity: 0;
}

nav > ul{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

nav > label{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 5%;
  width: 80%;
}

nav > label > svg{
  fill: var(--third-color);
  height: 85%;
}

nav > label > input{
  color: var(--main-color);
  background-color: #0000;
  border-bottom: var(--main-color) 1px solid;
  width: 80%;
}

nav > ul > li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-block: 2.5%;
}

nav > ul > li > input{
  color: var(--main-color);
  background-color: var(--third-bg-color);
  width: 70%;
  border-radius: 15px;
}

nav > ul > li > input:focus{
  background-color: var(--main-bg-color);
  color: var(--second-color);
}

nav > ul > li > svg{
  fill: var(--main-color);
}

nav > ul > li:hover{
  transform: translateX(3px);
}
